/* 
    Created on : 03.03.2018, 22:41:23
    Author     : nextdz (yav@wingi.ru)
*/
#yam{}
#yam > form{}
.tergetRow{}
.tergetRow > span{margin: 0 10px;color: #fff;font-weight: 700;padding: 3px 15px;border-radius: 4px;border: 1px solid;transition: all .3s;cursor: pointer;}
.tergetRow > span.add_row{background-color: #57b457;border-color: #4ac34a;}
.tergetRow > span.delete_row{background-color: #e94a4a;border-color: #e47373;}
.tergetRow > span.add_row:hover{background-color: #1bb71b;}
.tergetRow > span.delete_row:hover{background-color: #e02a2a;}
.tergetRow > input{}
.tergetRow > input.formID{}
.tergetRow > input.targetID{}
.tergetRow > input.descrTerget{}
.yam-id{margin: 20px auto 30px;}
.yam-id > label{}
.yam-id > input{}

